CarDB/bin/Debug/*
ExtNetApp/bin/*
CarDB/obj/Debug/
ExtNetApp/obj/Debug/*
CarDB/obj/Debug/*
CarDB/obj/Debug/
ExtNetApp/App_Data/
ExtNetApp/App_Data/CarDB.model.CarStoreEntities.mdf
ExtNetApp/App_Data/CarDB.model.CarStoreEntities_log.ldf
