@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>




<h1>рысь!!!!!</h1>

@Html.ActionLink("Create", "CreateCar")

@Html.ActionLink("Свистать всех рысей наверх", "GetAllCar")
