@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>




<h1>Добро пожаловать!</h1>

@Html.ActionLink("Просмотр записей", "Test")

@Html.ActionLink("Добавление записи", "GetAllCar")
