@model System.Collections.IEnumerable
@{
    ViewBag.Title = "Basic Row Command - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Basic Row Command</h1>

<br />

<h3>Icons with tips</h3>
@(Html.X().ResourceManager())

@(Html.X().Store()
        .ID("Store1")
        .Model(Html.X().Model()
            .Fields(
                Html.X().ModelField().Name("CarId").Type(ModelFieldType.Int),
                Html.X().ModelField().Name("Marks").Type(ModelFieldType.String),
                Html.X().ModelField().Name("Model").Type(ModelFieldType.String),
                Html.X().ModelField().Name("MakingCountry").Type(ModelFieldType.String),
                Html.X().ModelField().Name("Continent").Type(ModelFieldType.String)
            )
        )
        .DataSource(Model)

)
@(Html.X().GridPanel()
        .Title("Icons with text")
        .Width(600)
        .Height(300)
        .StoreID("Store1")
        .ColumnModel(
            Html.X().Column()
                .Text("Car №")
                    .DataIndex("CarId")
                .Flex(1),
            Html.X().Column()
                .Text("Car mark")
                    .DataIndex("Marks")
                .Width(75),
            Html.X().Column()
                .Text("Car model")
                    .DataIndex("Model")
                .Width(75),
            Html.X().Column()
                .Text("Produsing Country")
                    .DataIndex("MakingCountry")
                .Width(100),
            Html.X().Column()
                .Text("Continent")
                    .DataIndex("Continent")
                .Width(85),
            Html.X().CommandColumn()
                .Width(110)
                .Commands(
                    Html.X().GridCommand()
                        .CommandName("Delete")
                        .Icon(Icon.Delete)
                        .Text("Delete"),

                    Html.X().GridCommand()
                        .CommandName("Edit")
                        .Icon(Icon.NoteEdit)
                        .Text("Edit")
                )
                .Listeners(ls => ls.Command.Handler = "Ext.Msg.alert(command, record.data.company);")
        )
)


